@import url(http://fonts.googleapis.com/css?family=Paytone+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);




/*

THIS FILE REALLY NEEDS SOME CLEANING UP :|

*/


/* TEMPORARY, MUST REMOVE-- */

#block-views-activity_listing-block_1,
#block-views-Counters-block_2 {
	display: none;
}

/* Replicate the view of a text-field */
li.comment_add {
	display: block !important;
	width: 100%;
	border: 2px solid #EAEAEA !important;
	padding: 0 !important;
	background: #FFF !important;
	height: 34px;
	min-height:1px !important;
	float:left !important;
	margin:0 0 10px;
}

li.comment_add a {
	background: #FFF url('images/afg/say-button.jpg') right no-repeat !important;
	color: #666 !important;
	text-indent: 10px;
	padding: 8px 0;
	display: block !important;
	text-align:left !important;
	width:100% !important;
	float:left !important;
}













@font-face {
    font-family: 'LeckerliOneRegular';
    src: url('fonts/leckerlione-webfont.eot');
    src: url('fonts/leckerlione-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leckerlione-webfont.woff') format('woff'),
         url('fonts/leckerlione-webfont.ttf') format('truetype'),
         url('fonts/leckerlione-webfont.svg#LeckerliOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
input,
textarea,
select {
	font-family: "Open Sans", "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma,Verdana, sans-serif;
	background: url('images/afg/background.jpg');
	line-height: 1.5;
	color: #2A2A2A;
}

a {
	color: #39C;
	text-decoration: none;
}

table, th, td {
	border: 0 !important;
}

h1 {
	color: #FFF;
	font-size: 4.2em;
	line-height: 1;
	margin: 0 0 15px;
}

h1, h2, h3, .block-title {
	font-family: 'LeckerliOneRegular', cursive;
	font-weight: 100;
}

textarea {
	background: #F5F1F2 !important;
	border: 1px solid #BABABA !important;
	padding: 5px !important;
	margin: 0 0 0 -5px;
	width: 100%;
	-moz-box-shadow: inset 2px 2px 2px #CCC;
	-webkit-box-shadow: inset 2px 2px 2px #CCC;
	box-shadow: inset 2px 2px 2px #CCC;
	-moz-border-radius: 15px;
	-webkit-border-radius: 25px;
	border-radius: 15px;
}

textarea:focus {
	background: #FFF !important;
}

em {
	font-weight: bold;
	font-style: normal;
}

/* Clearing
---------------------------------------------------------- */

#content-left .view-updates li:after,
#content-left .view-afg-app-directory li:after,
#content-right .view-groups-listing-centre-school li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Generic Classes
---------------------------------------------------------- */

.limiter {
	width: 100%;
	max-width: 1000px;
}

/* Maps
---------------------------------------------------------- */

.gmap {
	width: 100% !important;
}

#content-left .gmap {
	height: 450px !important;
}

#map-mask {
	width:231px;
	height:200px;
	background:url(images/afg/vector-map.gif) repeat left top;
	position:absolute;
	z-index:99;
}

#gmap-auto1map-gmap0 span,
#gmap-auto1map-gmap0 .gmnoprint { display: none; }

/* Primary Navigation
---------------------------------------------------------- */

#primary-links {
	clear: both;
	width: 100%;
}

#primary-links .links {
	margin: 0 0 0 30px;
}

#primary-links .links li {
	padding: 6px 10px;
	margin: 5px 12px 0 0;
	background: #83827D;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	top: 9px;
}

#primary-links .links li a {
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-shadow: #666 2px 2px 0;
}

#primary-links .links li:hover {
background:#fff;	
}

#primary-links .links li:hover a,
#primary-links .links .active {
	background: #FFF;
	text-shadow: #DDD 2px 2px 0;
}

#primary-links .links .active {
	font-size: 1.3em;
	top: 0;
}

#primary-links .links li:hover a,
#primary-links .links .active a {
	color: #000;
}

/* Header
---------------------------------------------------------- */

#header {
	position: relative;
}

#page-title {
	float: left;
	width: 60%;
	margin: 0 0 0 25px;
	padding: 0 0 40px;	
}

.page-title {
	text-shadow: 1px 2px 1px #000;
}

.header-description {
	color: #FFF;
	font-size: 1.3em;
	line-height: 1.4;
}

#header-links {
	position: absolute;
	top: 85px;
	right: 10px;
	font-family: 'Paytone One', sans-serif;
}

#get-involved,
#header-links a {
	color: #FFF;
	font-size: 2em;
	text-transform: capitalize !important;
	background: #CCC url('images/afg/gradient.png') 0 12px repeat-x;
	padding: 0px 9px 8px 9px;
	margin: 0 15px 0 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 2px #111;
	-webkit-box-shadow: 0 2px #111;
	box-shadow: 0 2px #111;
	font-family: 'Paytone One', sans-serif;
}

#header-top-links #get-involved {
	position: relative;
	top: -17px;
	font-size: 1.4em;
	font-weight: 100;
	background-color: #999;
	background-position: 0 -4px;
	padding-bottom: 0;
	line-height: 2.5;
}

#header-links li:last-child a {
	margin-right: 0;
}

#header-links li.active-trail a {
	box-shadow: inset 0 2px 2px #111;
}

#get-involved:hover,
#editorial-title-teaser div > a:hover,
#header-links li:hover a {
	box-shadow: 0 0 8px 5px rgba(255, 255, 255, .4);
}

#header-links .header-menu-apps { background-color: #42B3FF; }
#header-links .header-menu-centres { background-color: #F9A35A; }
#header-links .header-menu-supporters { background-color: #A842E3; }
#header-links .header-menu-about { background-color: #9DBF68; }

/* Footer
---------------------------------------------------------- */

#footer {
	margin: 60px 0;
}

#footer ul.menu a {
	color: #222;
	text-transform: uppercase;
}

#footer ul.menu li {
	width: 20%;
	margin-right: 3%;
	float: left;
	border: 0;
	border-top: 7px solid #2F2F2F;
}

#footer ul.menu li.last {
	margin: 0;
}

#footer ul.menu li a {
	font-weight: bold;
	padding: 10px 0;
	display: block;
}

#footer ul.menu ul li {
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer ul.menu ul li {
	border-top: 1px dashed #222;
	
}

#footer ul.menu ul li a {
	font-weight: normal;
}

#footer ul.menu ul li.last {
	background: none;
}


/* Administration/Content Tabs
---------------------------------------------------------- */

#tabs .page-tabs {
	margin: 0 0 10px;
	background: #F8F8F8;
	width: 100%;
	position: relative;
	z-index: 10;
}

#tabs .page-tabs li a,
#tabs .page-tabs li a:hover,
#tabs .page-tabs li.active a,
#tabs .page-tabs li a.active {
	color: #888;
	font-weight: normal;
	font-size: 13px;
	padding: 5px 15px;
	border: 0px;
	background: transparent;
}

#tabs .page-tabs li.active a,
#tabs .page-tabs li a.active {
	background: #888 !important;
	color: #FFF;
}

/* Page layout
---------------------------------------------------------- */

#page {
	width: 100%;
	max-width: 1000px;
	background: #FFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 25px;
	border-radius: 15px;
}

#page #content {
	padding: 30px;
}

#page #content-left {
	float: left;
	width: 70%;
}

#page #content-right {
	float: right;
	width: 29%;
}

.column-side { float: right; background: #EEE; }
.column-side .column-wrapper { padding: 10px; }

/* Drupal/Atrium Blocks
---------------------------------------------------------- */

.block {
	border: 0;
}

.block .block-title {
	background: none;
	font-size: 3.2em;
}

#content-left .block-title {
	color: #FFF;
	margin: 5px 0 0 -69px;
	background: url('images/afg/title-left.png') left no-repeat;
	position: relative;
	height: 116px;
	padding: 0;
}

#content-left .block-title h2 {
	display: block;
	line-height: 88px;
	text-indent: 70px;
	height: 88px;
	background: #0099FF url('images/afg/title-right.png') no-repeat right bottom;
	padding: 0 40px 0 0;
	position: absolute;
	bottom: 0;
	text-shadow: #888 1px -1px 0;
}

#content-left .block-content {
	margin: 15px 0 30px;
	width: 95%;
	background: #D8D6D7;
}

#content-right .block {
	min-height: 100px;
	margin: 0;
	border: 1px solid #B5B5B5;
	border-bottom: 0;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#content-right .block + .block {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

#content-right .block:last-child {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom: 1px solid #B5B5B5;
}

#content-right .block-content {
	padding: 0 20px 20px 20px;
	font-size: 0.9em;
	line-height: 1.2;
	background: none;
}

#content-right .block-title {
	background: none;
}

#content-right .block-title h2 {
	font-size: 0.7em;
}

#content-right label {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.8em;
	font-family: 'Paytone One', sans-serif;
}

#content-left .block-shadow {
	display: block;
	height: 28px;
	width: 98%;
	margin: -30px auto 0;
	padding: 0;
	float: left;
	background: url('images/afg/left-content-shadow.png') center bottom no-repeat;
}

#content-right ul li {
	border-bottom: 1px solid #A8A8A8;
	font-size: 1.4em;
	padding: 8px 0;
}

#content-right ul li:last-child {
	border-bottom: 0;
	margin-bottom: 20px;
}

#content-right ul li a {
	display: block;
}

#content-right .block-content ul li a:link { color: #2D2D2D; }
#content-right .block-content ul li a:hover { color: #777; }

#content-right .views-field-body {
	margin-bottom: 15px;
}

#content-right .views-field-mail a {
	float: right;
	padding: 8px 11px;
	color: #FFF !important;
	text-transform: uppercase;
	font-size: 0.9em;
	text-shadow: -1px 1px 1px 2px #555;
	-moz-box-shadow: 0 2px 1px 2px #444;
	-webkit-box-shadow: 0 2px 1px 2px #444;
	box-shadow: 0 2px 1px #444;
	background: #F7A35A url('images/afg/gradient.png');
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#content-right .views-field-mail a:after {
	content: " \2192";
}

.views-field-created {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #0099FF;
}

/* Administration Menus
---------------------------------------------------------- */

#block-atrium-search {
	display: none;
}

/* BLOCK CREATE */
#block-atrium-create,
#block-atrium-admin_links {
	float: right;
	text-align: right;
}

#block-atrium-create h2,
#block-atrium-admin_links h2 {
	color: #FFF;
	font-weight: bold;
	font-size: 0.3em !important;
	text-transform: uppercase;
	border-bottom: 2px solid #CCC;
	font-family: "Open Sans", "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma,Verdana, sans-serif;
}

#block-atrium-create h2:hover,
#block-atrium-admin_links h2:hover {
	border-bottom-color: #FFF;
}
/* END */


#block-atrium-admin_links {
	margin: 0 0 40px;
}

#block-atrium-create,
#block-atrium-create .block-content,
#block-atrium-admin_links,
#block-atrium-admin_links .block-content {
	background: none !important;
}

#block-atrium-create li,
#block-atrium-admin_links li {
	margin: 0 0 10px;
}

#block-atrium-create ul a:link,
#block-atrium-create ul a:visited,
#block-atrium-admin_links ul a:link,
#block-atrium-admin_links ul a:visited {
	color: #FFF;
	padding: 5px;
	margin: 0 5px 0 0;
	background: #0099FF;
}

#block-atrium-create li:hover a,
#block-atrium-admin_links li:hover a {
	background: #1288C2;
}

/* Updates Block
---------------------------------------------------------- */

#content-left .activity-updates {
	padding: 0;
	color: #FFF;
	background: #0099FF;
}

#content-left .activity-updates img,
#content-left .activity-updates object {
	border: 6px solid #FFF;
	-moz-box-shadow: 0 0 6px 6px #0083DA;
	-webkit-box-shadow: 0 0 6px 6px #0083DA;
	box-shadow: 0 0 6px 6px #0083DA;
	margin: 0 20px 0 0;
	overflow: hidden;
}

#content-left .view-updates img {
	height: auto;
	max-width: 100%;
	background: #FFF;
}

#content-left .views-field-title {
	font-size: 2.3em;
	font-weight: bold;
	line-height: 1.1;
}

#content-left .activity-updates .view-empty { padding: 10px; }
#content-left .activity-updates a:link { color: #FFF; }

#content-left .activity-updates span.views-field-atrium-activity-timestamp,
#content-left .activity-updates span.views-field-comment-count {
	float: left;
}

#content-left .activity-updates .views-field-fb-social-like {
	clear: both;
}

#content-left .activity-updates span.views-field-atrium-activity-timestamp {
	text-indent: 17px;
	background: url('images/afg/icon-timestamp.png') left no-repeat;
}

#content-left .activity-updates span.views-field-comment-count {
	text-indent: 26px;
	background: url('images/afg/icon-commentcount.png') left no-repeat;
}

#content-left .activity-updates span.views-field-atrium-activity-timestamp,
#content-left .activity-updates span.views-field-comment-count,
#content-left .activity-updates .views-field-comments-link {
	font-size: 0.9em;
	margin: 6px 6px 10px 0;
}

#content-left .activity-updates span.views-field-atrium-activity-timestamp em {
	font-weight: normal !important;
}
	
/* Groups Listing Centre School
---------------------------------------------------------- */

.apps-at-centre,
.view-groups-listing-centre-school .views-field-mail a:hover {
	color: #FFF !important;
	background: #1B9BDA;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 tr {
	float: left;
	background: #F68424 !important;
	border-bottom: 1px solid #FFF;
	margin: 0 !important;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 td {
	float: left;
	min-height: 162px;
	width: 304px;
	padding: 0;
	position: relative;
	border-right: 1px solid #FFF !important;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 td:hover {
	background: #F99744 !important;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 td:nth-child(odd) {
	clear: both;
}

#content-left .view-groups-listing-centre-school .views-field-title {
	font-size: 1em;
}

#content-left .view-groups-listing-centre-school img {
	float: left;
	height: auto;
	width: 44px;
	border: 5px solid #FFF;
	margin: 0 10px 10px 0;	
}

#content-left .view-groups-listing-centre-school li {
	padding: 20px;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 img {
	margin: 20px;
	-moz-box-shadow: 0 0 4px 4px #D37626;
	-webkit-box-shadow: 0 0 4px 4px #D37626;
	box-shadow: 0 0 4px 4px #D37626;
}

#content-left .view-groups-listing-centre-school,
#content-left .view-groups-listing-centre-school a:link,
#content-left .view-groups-listing-centre-school a:visited {
	color: #FFF;	
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 label {
	font-weight: normal;
	font-size: 0.9em;
}

#content-left  .view-groups-listing-centre-school.view-display-id-page_2 .views-field-field-logo-fid {
	display: inline;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-title,
#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-city {
	float: right;
	width: 190px;
	margin: 20px 20px 0 0;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-city {
	margin-top: 2px;
	margin-bottom: 60px;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-city span,
#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-province {
	font-size: 1.4em !important;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-title a:link,
#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-city span {
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-title-1 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #4A97A9 url('images/afg/gradient.png') 0 2px repeat-x;
	letter-spacing: 1px;
	padding: 10px 12px;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
	font-size: 1.5em;
	-moz-box-shadow: 0 2px 1px #222;
	-webkit-box-shadow: 0 2px 1px #222;
	box-shadow: 0 2px 1px #222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#content-left .view-groups-listing-centre-school.view-display-id-page_2 .views-field-title-1:hover {
	background-position: 0 15px;
}

/* RHS / Centres staff members listing */

#content-right .view-groups-listing-centre-school li {
	position: relative;
	min-height: 30px;
}

.view-groups-listing-centre-school .views-field-picture {
	position: absolute;
	left: 0;
}

.view-groups-listing-centre-school .views-field-name {
	float: left;
	margin: 0 0 0 40px;
}

/* Shoutbox
---------------------------------------------------------- */

#block-views-shoutbox_shouts-block_1 {
	border: 0px !important;
	padding: 20px 0 0;
}

.shoutbox-input .form-submit {
	color: #FFF;
	text-transform: lowercase;
	background: #222 url('images/afg/gradient.png') repeat-x;
	font-size: 1.6em;
	padding: 4px 10px;
	float: right;
	border: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.view-shoutbox-shouts .shoutbox-input {
	margin: 0 0 15px;
}

.view-shoutbox-shouts .username {
	font-weight: 600;
	text-decoration: underline;
	margin: 0 0 2px;
}

.view-shoutbox-shouts .picture {
	float: left;
	margin: 0 30px 0 0;
}

.view-shoutbox-shouts .views-field-timestamp {
	color: #AAA;
	font-size: 0.9em;
	text-transform: uppercase;
	margin: 0 0 5px;
}

.view-shoutbox-shouts .views-field-comment {
	padding: 5px;
	margin: 0 0 3px 60px;
	max-width: 165px;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.view-shoutbox-shouts li {
	margin: 0 0 35px;
	border: 0 !important;
}

.view-shoutbox-shouts li:last-child {
margin: 0 0 70px;
}

.view-shoutbox-shouts li:hover .views-field-comment {
	background: #DDD !important;
}

.view-shoutbox-shouts .form-submit {
	float: right;
}

.views-field-delete-comment {
	float: right;
	padding: 5px;
	font-size: 0.9em;
	background: #EEE;
	text-transform: uppercase;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.views-field-delete-comment:hover { background: #111; }
.views-field-delete-comment:hover a { color: #FFF !important; }

/* Quicktabs
---------------------------------------------------------- */

#quicktabs-cdi_features img {
	margin: 0 0 20px;
}

#quicktabs-cdi_features .views-field-title {
	font-size: 1.5em;
	margin: 0 0 8px;
}

#quicktabs-cdi_features .views-field-title a {
	color: #FFF;
	padding: 5px;
	background: #0099FF;
}

#editorial-title-teaser {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: url('images/afg/blue-translucent.png');
	overflow: hidden;
}

#editorial-title-teaser > div {
	padding: 10px;
}

#editorial-title-teaser h3 a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #10435C;
}

#editorial-title-teaser p {
	color: #FFF;	
	width: 78%;
}

#editorial-title-teaser div > a {
	position: absolute;
	right: 30px;
	top: 30px;
	color: #FFF;
	background: #F9A35A url('images/afg/gradient.png') 0 2px repeat-x;
	letter-spacing: 1px;
	padding: 5px 12px;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
	font-size: 1.5em;
	-moz-box-shadow: -5px 5px 7px #1b9bda;
	-webkit-box-shadow: -5px 5px 7px #1b9bda;
	box-shadow: -5px 5px 7px #1b9bda;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#editorial-title-teaser div > a:before {
	content: ' \2192 ';
	padding: 0 5px 0 0;
	position: relative;
	top: -2px;
}

.quicktabs-style-navlist-afg {
	position: relative;
}

.quicktabs-style-navlist-afg .quicktabs_tabs {
	position: absolute !important;
	right: 0 !important;
	left: 100% !important;
	z-index: 150 !important;
	margin: 0 0 0 -125px  !important;
}

.quicktabs-style-basic-afg .views-field-title a {
	color: #FFF;
}


/* Updates, Quicktabs
 * using basic-afg quicktabs theme.
---------------------------------------------------------- */

#content-left .view-updates {
	color: #FFF;
}

#content-left .view-updates .pager {
	background: #1B9BDA !important;
}

#content-left .view-updates li {
	background: #1B9BDA !important;
	min-height: 60px;
	padding: 10px;
}

#content-left .view-updates li a {
	color: #FFF;
}

#content-left .view-updates .views-field-title,
#content-left .view-afg-app-directory  .views-field-title {
	font-weight: normal;
	text-transform: capitalize !important;
	font-size: 1.5em;
}

#content-left .view-updates .views-field-feature {
	color: #FFF;
	font-size: 2.3em;
	text-transform: uppercase;
}

#content-left .view-updates .views-field-atrium-activity-timestamp,
#content-left .view-afg-app-directory  .views-field-changed {
	float: right;
	color: #61C7F7;
	color: rgba(255, 255, 255, .5);
	text-transform: uppercase;
}

#content-left .view-updates .views-field-field-icon-fid,
#content-left .view-afg-app-directory .views-field-field-logo-fid {
	float: left;
	margin: 0 10px 0 0;
}

#content-left .view-updates .views-field-field-icon-fid img,
#content-left .view-afg-app-directory .views-field-field-logo-fid  img {
	height: auto;
	max-width: 50px;
	background: #FFF;
	border: 6px solid #FFF !important;
	-moz-box-shadow: 0 0 3px 2px #0B7ECF;
	-webkit-box-shadow: 0 0 3px 2px #0B7ECF;
	border-shadow: 0 0 3px 2px #0B7ECF;
}

/* Badges
---------------------------------------------------------- */

.badges-empty {
	text-align: center;
}

.badges-empty img {
	margin: 0 0 10px; 
}

.badges-empty span {
	display: block;
	font-size: 1.2em;
}

/* Header - Drop Menu's
---------------------------------------------------------- */

#header .block,
#header .block-content {
	background: none;
}

#header-top {
	position: absolute;
	top: 0;
	right: 0;
}

#header-top .block {
	float: left;
}

#header-top .profile-image {
	position: absolute;
	top: 10px;
	left: -120px;
}

#header-top span.user_name { /* Get value with js */
	display: none;
}

#header-top-links {
	float: right;
	margin: 0 0 0 15px;
}

#header-top-links a {
	float: left;
	margin: 0 0 0 20px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

#header-top-links span a {
	border-bottom: 2px solid #CCC;
}

#header-top-links span a:hover {
	border-bottom-color: #FFF;
}

#block-atrium-account {
	position: absolute;
	float: right;
	z-index: 100;
	margin-left: -85px;
}

#block-atrium-account h3,
#block-atrium-account a {
	color: #000;
	font-family: "Open Sans", "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
}

/* Active 'My Account' menu */

.account-menu-active {
	background: #FFF !important;
}

body #header-top .account-menu-active {
	top: 5px;
	right: 5px;
	border: 4px solid #222;
}

body #header-top .account-menu-active h3,
body #header-top .account-menu-active a {
	color: #222 !important;
}

/* [end] active menu */

#block-atrium-account .pane-left h3,
#block-atrium-account .pane-right h3 {
	min-width: 92px;
}

#block-atrium-account .pane-left,
#block-atrium-account .pane-right {
	float: left;
	width: 50%;
}

#block-atrium-account .pane-left li,
#block-atrium-account .pane-right li {
	display: block;
	width: 100%;
}

#block-atrium-account .pane-left h3,
#block-atrium-account .pane-right h3,
#block-atrium-account .block-content a {
	color: #FFF !important;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #CCC;
}

#block-atrium-account .pane-right h3 {
	display: none;
}






#block-atrium-account .pane-left h3,
#block-atrium-account .pane-right h3 {
	color: #ACAAAB;
}

#block-atrium-account .pane-right li {
	border: 0;
	padding: 0;
	margin: 0;
}

#block-atrium-account .pane-left ul,
#block-atrium-account .pane-right ul {
	display: none;
}









#block-atrium-user_links .block-title { display: none; }

#block-atrium-user_links {
	clear: both;
	height: 131px;
	width: 237px;
	background: url('images/afg/notes-background.png') no-repeat !important;
	position: absolute;
	top: 300px;
	right: 60px;
}

#block-atrium-user_links .block-content {
	float: right;
	color: #000;
	margin: 32px 10px 0 0;
	width: 200px;
	background: none !important;
}

#block-atrium-user_links .block-content p {
	color: #3D3D3F;
	padding: 0 0 0 20px;
	line-height: 1.6;
	-webkit-transform: rotate(-3deg);	
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#block-atrium-user_links .block-content a {
	color: #FFF;
	font-size: 1.4em;
	padding: 10px 35px;
	background: #EC7E1E;
	text-transform: uppercase;
	border-radius: 4px;
	position: absolute;
	z-index: 20;
	bottom: -16px;
	left: 45px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 1px 1px 2px #444;
	-moz-box-shadow: 0 2px #111;
	-webkit-box-shadow: 0 2px #111;
	box-shadow: 0 2px #111;
	background: #F58322 url('images/afg/gradient.png');
}

#block-atrium-user_links .block-content a:after {
	content: " \2192";
}







#stats .item {
	background: none;
	border: 1px solid #222;
	font-size: 2em;
	position: relative;
	z-index: 10;
	background: #FFF;
	text-align: center;

	float: left;
	height: 286px;
	width: 30%;
	margin-left: 4%;
}

#stats .item-arrow {
	position: absolute;
	top: 0;
	right: -38px;
	float: left;
	height: 286px;
	width: 38px;
	background: url('images/afg/stats-arrow.png') no-repeat right;
}

#stats .item:last-child .item-arrow {
	display: none;
}

#stats .item-content {
	padding: 10px;
}

#stats .item span {
	font-family: 'Paytone One', sans-serif;
	z-index: 10;
	text-shadow: 1px 1px #222;
}

#stats .item em {
	line-height: 0.8;
	font-weight: normal;
	font-size: 3em;
	display: block;	
}

#stats .item:first-child {
	margin-left: 0;
}

#stats a {
	display: block;
	right: 10px;
	font-weight: bold;
	font-size: 0.5em;
	position: absolute;
	bottom: 10px;
	color: #FFF;
	background: #CCC;
	line-height: 1;
	padding: 8px 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #777;
	-webkit-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
}

#stats .item-supporters { color: #0191D7; }
#stats .item-results { color: #165327; }
#stats .item-centres {
	color: #CE8C00;
	height: 200px;
	background: url('images/afg/vector-map.gif') no-repeat;
}

#stats .item-supporters a { background: #0191D7; }
#stats .item-centres a { background: #CE8C00; }
#stats .item-results a { background: #165327; }


